<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bérszám.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Bérszám.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DataBase" serializeAs="String">
                <value>calculating_salary</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </Bérszám.Properties.Settings>
    </applicationSettings>
</configuration>